.StreamComponent {
  height: 100%;
  width: 100%;
}

.topContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: url(../lemon.jpg);
  background-position: 0;
  background-repeat: repeat;
}

.streamContainer {
  width: 80%;
  height: 80%;
}
